@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}
<div class="container marketing aboutpage">

    <div class="row mymargin">
        <div class="col-lg-4">
            <a href="https://mobile.twitter.com/er_datt" target="_blank">
                <img class="rounded-circle" src="~/Content/img/about/sir1.jpg" alt="Generic placeholder image" width="140" height="140">
            </a>           
            <h2>Aakash Sir</h2>
            <hr style="border:2px solid green;">
            <div style="height: 200px;font-size: 20px;">
                Ashwani sir the Managing director of Arcane Programming Infotech. He is the one of the best teacher in Lucknow. All the backend development is done under his teaching,
            </div>
            <hr style="border: 2px solid green;">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
                <a href="https://www.instagram.com/anurag_madhesia/" target="_blank">
                <img class="rounded-circle" src="~/Content/img/about/sir7.jpg" alt="Generic placeholder image" width="140" height="140">
                </a>
                <h2>Anurag Madhesia</h2>
                <hr style="border: 2px solid green;">
                <div style="height:200px;font-size:20px;">
                    Anurag Madhesia is a student of R.R Institute of Modern Technology. He is a student with creative and logical mindset. This project is made by him with the help of Arcane Programming Infotech.
                </div>
                <hr style="border: 2px solid green;">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="https://www.instagram.com/akrizvi110/?hl=en" target="_blank">
                <img class="rounded-circle" src="~/Content/img/about/sir2.png" alt="Generic placeholder image" width="140" height="140">
            </a>  
                <h2>Rizvi Sir</h2>
                <hr style="border: 2px solid green;">
                <div style="height: 200px;font-size: 20px;">
                    Er. Akhtar Rizvi Sir is the Designing Teacher of Arcane Programming Infotech. He is one of the professional in his field. He is the mentor and designer of this project.
                </div>
                <hr style="border: 2px solid green;">
</div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>