@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<div class="indexbox">
    <span class="mytext">Welcome To </span>
    <span class="welcome">City Restaurant</span><br />
    <span class="mytext">We Provide Best Food in the City.</span><br />
    <a href="/Home/Booking" class="btn btn-round1">Book a Table</a>
    <a href="/Home/Menu" class="btn btn-round2">Check Menu</a>
</div>