@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<center>
    <div class="row no-gutters">
        <div class="col-lg-4">
            <a href="/User/Index"><i class="fa fa-home" aria-hidden="true"></i></a>
            <p>HOME PAGE</p>
        </div>
        <div class="col-lg-4">
            <a href="/User/Records"><i class="fa fa-th-large" aria-hidden="true"></i></a>
            <p>PURCHASE RECORDS</p>
        </div>
        <div class="col-lg-4">
            <a href="/User/Profile"><i class="fa fa-user" aria-hidden="true"></i></a>
            <p>MY PROFILE</p>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-4">
            <a href="/User/Feedback"><i class="fa fa-comments" aria-hidden="true"></i></a>
            <p>MY FEEDBACKS</p>
        </div>
        <div class="col-lg-4">
            <a href="/User/Bookings"><i class="fa fa-file" aria-hidden="true"></i></a>
            <p>MY BOOKINGS</p>
        </div>
        <div class="col-lg-4">
            <a href="/User/ChangePassword"><i class="fa fa-key" aria-hidden="true"></i></a>
            <p>CHANGE PASSWORD</p>
        </div>
    </div>
</center>

