@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="cpform">
    <form action="/Admin/ChangePassword" method="post">
        <h2 class="text-center" style="color:greenyellow;">Change Password</h2>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Old password" name="txtoldp" required="required" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="New Password" name="txtnewp" required="required" id="idPassword" onkeyup="PassValid()" />
            <center><span id="ShowMsgPassword"></span></center>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" name="txtcpass" required="required" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">SAVE</button>
        </div>
        <div class="clearfix">
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>
    </form>
</div>
