@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<center>
    <div class="row no-gutters">
        <div class="col-lg-4">
            <a href="/Admin/Earnings"><i class="fas fa-chart-pie" aria-hidden="true"></i></a>
            <p>Earnings</p>
        </div>
        <div class="col-lg-4">
            <a href="/Admin/Menu"><i class="fas fa-concierge-bell" aria-hidden="true"></i></a>
            <p>MENU</p>
        </div>
        <div class="col-lg-4">
            <a href="/Admin/Users"><i class="fa fa-users" aria-hidden="true"></i></a>
            <p>USERS</p>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-4">  
            <a href="/Admin/Feedbacks"><i class="fas fa-book" aria-hidden="true"></i></a>
            <p>FEEDBACKS</p>
        </div>
        <div class="col-lg-4">
            <a href="/Admin/Booking"><i class="fas fa-utensils" aria-hidden="true"></i></a>
            <p>BOOKINGS</p>
        </div>
        <div class="col-lg-4">
            <a href="/Admin/ChangePassword"><i class="fa fa-key" aria-hidden="true"></i></a>
            <p>CHANGE PASSWORD</p>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-12">
            <a href="/Home"><i class="fa fa-lock" aria-hidden="true"></i></a>
            <p>LOG OUT</p>
        </div>
    </div>
</center>
